.menu-list-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.menu-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-self: center;
}