.details-pane-container {
    width: 500px;
    height: 200px;
    padding-top: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: right;
    align-items: right;
    justify-self: right;
}
