.menu-list-item-container {
    display: flex;
    height: 20px;
    width: 30%;
    max-width: 100px;
    margin-left: 80px;
    padding-left: 5px;
    padding-right: 5px;
    flex-direction: column;
    background-color: #FBFBFB;
    box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.75);
    margin: 2px;
    cursor: pointer;
    transition: height .5s;
}

.menu-list-item {
    display: flex;
    flex-direction: row;
    flex: 0 0 100px;
}

.menu-list-item-description {
    display: flex;
    flex: 0 1 80%;
    flex-direction: row;
    align-self: right;
}